@font-face {
    font-family: "Inter";
    src: url("./fonts/inter.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Gaegu";
    src: url("./fonts/gaegu.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
}

:root {
    --bg: #ffe9b6;
    --header: #185477;
    --text: #185477;
    --muted: #185477e0;
    --link: #ff5147;
    --link-hover: #fc737a;

    --flower: #fc737a;
    --flower-line: #185477;

    --main-width: 900px;
    --indent: 1.5rem;
    --small: false;

    --normal-font: Inter;
    --normal-font-size: 25px;
    --normal-font-line-height: 150%;

    --cool-font: "Gaegu";
    --cool-font-size1: 2.5rem;
    --cool-font-size2: 2rem;
    --cool-font-size3: 1.5rem;
    --cool-font-line-height: 90%;
}

* {
    box-sizing: border-box;
    scroll-margin-top: 5rem;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    min-height: 100%;
    color: var(--text);

    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    line-height: var(--normal-font-line-height);
}

h1,
h2,
h3 {
    font-family: var(--cool-font);
    line-height: var(--cool-font-line-height);
    margin: 1.5rem 0;
}

h1 {
    /*font-size: 2rem;*/
    margin-bottom: 0;
    font-size: var(--cool-font-size1);
}

h2 {
    /*font-size: 1.5rem;*/
    font-size: var(--cool-font-size2);
}

h3 {
    /*font-size: 1.25rem;*/
    font-size: var(--cool-font-size3);
}

section,
.indent {
    padding-left: var(--indent);
}

main,
div.gap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-left: var(--indent);
}

main {
    max-width: var(--main-width);
    padding-bottom: 10rem;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 0 1rem 1.5rem;
    border-bottom: 6px double var(--link);
    background-color: var(--header);
}

nav h3 {
    margin: 0;
}

h1::before,
a.samepage::before {
    content: "#";
}

canvas {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100lvw;
    height: 100lvh;
    z-index: 9999;
    pointer-events: none;
}

.muted {
    color: var(--muted);
    font-size: 1.5rem;
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.indent {
    padding-left: 1.5rem;
}

#offscreen {
    display: none;
}

@media (max-width: 500px) {
    :root {
        --small: true;
    }
    section,
    .indent {
        padding-left: 0;
    }
    main {
        max-width: unset;
    }
    canvas {
        height: 20vh;
    }
    nav {
        padding: 0.5rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 0;
    }
    #offscreen {
        display: block;
        position: fixed;
        height: 50px;
        bottom: -40px;
        width: 100%;
        background-color: var(--header);
    }
}
