<h1 id="about">about</h1>

<article class="indent">
    <h2>languages</h2>
    <section>
        <p>favorites are c and javascript,</p>
        <p>but i also use c++, c#, rust and python often</p>
        <p>i build my own castles</p>
    </section>
</article>

<article class="indent">
    <h2>interests</h2>
    <section>
        <p>major blog consumer</p>
        <p>building my own stuff</p>
        <p>slovenian indie music</p>
        <p>manga</p>
        <p>you <3</p>
    </section>
</article>

<article class="indent">
    <h2>work</h2>
    <section>
        game engine developer at guardiaris (october 2023 - present):
        <section>
            <p>
                rendering
                <br />gameplay <br />video streaming <br />embedded <br />ai
                behaviour <br />interop <br />internal tooling
            </p>
        </section>
    </section>
</article>

<article class="indent">
    <h2>education</h2>
    <section>
        <p>
            studying at faculty of computer and information science ljubljana
            (october 2024 - present)
        </p>
    </section>
</article>
