<h1 id="hello">hello !!</h1>
<article class="indent">
    <p>im jan !</p>
    <p>
        im a
        <script &>
            const bd = new Date(2004, 9, 18);
            const t = new Date();
            let age = t.getFullYear() - bd.getFullYear();
            if (
                t.getMonth() < bd.getMonth() ||
                (t.getMonth() === bd.getMonth() && t.getDate() < bd.getDate())
            )
                age--;
            return age;
        </script>
        year old game engine developer from ljubljana, slovenia
    </p>
    <p>
        i love doing simulation, graphics programming, low level stuff and
        messing around on the web
    </p>
    <p>
        right now im really interested in the indie web and all the cool stuff
        around it
    </p>
    <p>employed at guardiaris and studying at FRI ljubljana</p>
    <p>
        i also run
        <a href="https://blogsoni.com">blogsoni</a>
    </p>
</article>

<article class="indent">
    <h2>reach me at</h2>
    <section>
        <p>
            <a href="mailto:jan@nejka.net">email</a><br />
            <a href="https://github.com/jangolicnik">github</a>
        </p>
    </section>
</article>

<article class="indent">
    <h2>my stuff</h2>
    <section>
        <p>
            <script &&>
                return projects
                    .map(
                        (p) =>
                            `<a class="samepage" href="#${p.id}">${p.name}</a><br />`,
                    )
                    .join("\n");
            </script>
        </p>
    </section>
</article>
