<h1 id="hello">hello !!</h1>
<article class="indent">
    <p>
        i am a
        <script &>
            const bd = new Date(2004, 9, 18);
            const t = new Date();
            let age = t.getFullYear() - bd.getFullYear();
            const had =
                t.getMonth() > bd.getMonth() ||
                (t.getMonth() === bd.getMonth() && t.getDate() >= bd.getDate());
            return had ? age : age - 1;
        </script>
        year old game engine developer from ljubljana, slovenia
    </p>
    <p>
        i love doing simulation, graphics programming, low level stuff and
        messing around on the web
    </p>
    <p>
        currently really interested in the indie web
    </p>
    <p>i'm currently employed at guardiaris and studying at FRI ljubljana</p>
    <p>
        i also run
        <a href="https://blogsoni.duckdns.org">blogsoni</a>
    </p>
</article>

<article class="indent">
    <h2>social</h2>
    <section>
        <p>
            <a href="mailto:jan@nejka.net">email</a>
            <a href="https://github.com/jangolicnik">github</a><br />
        </p>
    </section>
</article>

<article class="indent">
    <h2>my stuff</h2>
    <section>
        <p>
            <script &&>
                return projects
                    .map(
                        (p) =>
                            `<a class="samepage" href="#${p.id}">${p.name}</a><br />`,
                    )
                    .join("\n");
            </script>
        </p>
    </section>
</article>
