:root {
    --bg: #ffe9b6;
    --header: #185477;
    --text: #185477;
    --muted: #185477e0;
    --link: #ff5147;
    --link-hover: #fc737a;

    --flower: #fc737a;
    --flower-line: #185477;

    --font: monospace, monospace;
    --main-width: 600px;

    --indent: 1.5rem;
    --small: false;
}

* {
    box-sizing: border-box;
    font-family: var(--font);
    font-weight: 600;
    letter-spacing: .025em;
    line-height: 150%;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    min-height: 100%;
    color: var(--text);
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    scroll-margin-top: 5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.175rem;
}

section, .indent {
    padding-left: var(--indent);
}

main, div.gap {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding-left: var(--indent);
}

main {
    max-width: var(--main-width);
    padding-bottom: 10rem;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 0 1rem 1.5rem;
    border-bottom: 6px double var(--link);
    background-color: var(--header);
}

a.samepage::before {
    content: "#";
}

canvas {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100lvw;
    height: 100lvh;
    z-index: 9999;
    pointer-events: none;
}

.muted {
    color: var(--muted);
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.indent {
    padding-left: 1.5rem;
}

@media (max-width: 500px) {
    :root {
        --small: true;
    }
    section, .indent {
        padding-left: 0;
    }
    main {
        max-width: unset;
    }
    canvas {
        height: 20vh;
    }
}
